*{margin: 0;padding: 0;}
body{background-color: #fff;-webkit-font-smoothing: antialiased;}

.navbar{background: linear-gradient(to right, #1488CC,#2B32B2);padding: 0 !important; position: fixed; top: 0; z-index: 10;}
/* Logo resize */
.navbar-brand img{height: 4rem;margin-top: 3px;padding-left: 3rem;}
.navbar-nav{margin-right: 3rem;}
.navbar-nav li{padding: 0 1rem;}
.navbar-nav li{padding: 0 1rem;}
.navbar-nav .nav-item .nav-link{color: #fff !important; font-weight: 600; float: right; text-align: left;}
.navbar-nav .nav-item .nav-link:hover{color: #9da5ff!important;}
.navbar-nav .nav-item:last-child { padding-right: 0;}
.fa-bars{color: #fff !important; font-size: 25px !important;}
.navbar-toggler{outline: none !important; border: 1px solid #fff!important; margin-right: 15px; padding: 7px 10px;}
@media screen and (max-width: 425px) { .navbar-brand img{padding-left: .5rem;} .navbar-nav .nav-item:last-child { padding-right: 1rem} .navbar-collapse { padding-bottom: 38px; } }
/* --------- Banner ---------- */
.banner{background: linear-gradient(to right, #1488CC,#2B32B2);color: #fff; padding-top: 8%; }
.promo-title{font-size: 3rem; font-weight: 600; margin-top: 3em; margin-bottom: 0;}
.social-icons-banner {width: 50px; position: fixed; top: 45%; right: 0; transform: translateY(-50%); z-index: 1;}
.social-icons-banner i { display: block; font-size: 23px; width: 35px; margin: 0 auto 20px; cursor: pointer; color: #b3d7ff; transition: 300ms}
.social-icons-banner i:hover { color: #7ec1ff; transform: scale(1.2)}
.join-title{font-size: 1.44rem; line-height: 1; margin-left: .1rem}
.link-play{text-decoration: none;}
.link-play:hover{color: #58f0ff;text-decoration: none!important;}
.play-btn{width: 45px;margin: 20px 0;margin-right: 2em;text-decoration: none !important;transition: transform 1.2s;}
.play-btn:hover{color: #444;text-decoration: none!important;transform: scale(1.2);}
.banner a{color: #fff; text-decoration: none!important;}
.img-fluid{margin-top: 4rem;}
.bottom-img{width: 100%;}
@media screen and (max-width: 768px) { .promo-title { font-size: 2rem; } }
@media screen and (max-width: 425px) {.promo-title{font-size: 2.3rem;} .join-title{font-size: 1.4rem;} .blockquote{font-size: 1.3rem!important;} .social-icons-banner { display: none; } }
/* ---------- Services --------- */
#services{padding: 50px 0 0px 0;}
.service-img{width: 130px; margin-top: 2rem;}
.services{padding-bottom: 30px; }
.services h4{padding: 1em; margin-top: 5px; text-transform: uppercase;}
.title::after{
  content: '';
  background: linear-gradient(to right, #1723b1,#58f0ff);
  height: 8px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 70px;
  transform: translateY(23px);}
#services .btn-primary{
  box-shadow: none;
  padding: 8px 25px;
  border: none; border-radius: 20px;
  background: linear-gradient(to right, #1723b1,#58f0ff);
  transition: transform 1.2s;
}
#services .btn-primary:hover{transform: scale(1.2);}

@media screen and (max-width: 425px) { #services p { font-size: 1.2rem } }
/* -----------   About -------------*/
#about{background-color: #edf2ff; padding-bottom: 0rem; padding-top: 3rem;}
.about-title{font-size: 1.6em; margin-top: 8%; font-weight: 600;}
#about ul li{margin: 10px 0;}
#about ul{margin-left: 20px;}

@media screen and (max-width: 425px) { .about-title{font-size: 2.2em; margin-top: 15%; line-height: 1.2; font-weight: 600;} .about :nth-child(2) { font-size: 1.2rem; } .about :nth-child(3) { font-size: 1.2rem; } }
/* ------------ Portfolio ---------------------- */
.card {width: 22rem;}
.card4,.card5,.card6,.card7,.card8,.card9 {margin-top: 2rem}
@media screen and (max-width: 1192px) { .card {width: 28rem;} .card3{ margin-top: 2rem} }
@media screen and (max-width: 990px) { .card {width: 21rem;} .card3{ margin-top: 2rem} }
@media screen and (max-width: 768px) { .card {width: 16rem;} .card3{ margin-top: 2rem} }
@media screen and (max-width: 510px) { .card {width: 13rem; margin-left: 5px; margin-right: 5px } .card3{ margin-top: 2rem} }
@media screen and (max-width: 436px) { .card {width: 25rem; margin: 20px;} .card-title { font-size: 1.5rem; } .card-text { font-size: 1.2rem; } .btn { font-size: 1.2rem }}

/* ------- Call ------- */
#call {background: linear-gradient(to right, #1723b1,#58f0ff); color: #fff;}
.footer-box{padding: 20px;}
#call p{font-weight: 600; font-size: 16px; margin-top: 20px;}

/* ------- Contact -------- */
#contact {  color: #e9ecef; background: #343a40;} 
#contact img { height: 80px }
#contact p:last-child { font-size: 1.1rem; font-weight: 400}
#contact .social-icons { display: flex; justify-content: end; margin-right: 3rem}
#contact .social-icons .fa-whatsapp { color: #25D366}
#contact .social-icons .fa-twitter{ color: #1DA1F2}
#contact .social-icons .fa-linkedin { color: #2867B2} 
#contact .icon-link { display: flex; text-decoration: none; font-size: 2rem; width: 3.5rem; height: 3.5rem; background: #f7f7f7; border-radius: 15px;  box-shadow: 3px 3px 5px rgba(0, 0, 0, .15), -6px -6px 12px rgba(255, 255, 255, .1); overflow: hidden;  transition: .2s linear;  }
.icon-link i { margin: auto }
.icon-link:hover { transform: scale(1.2); }
@media screen and (max-width: 436px) {  #contact .col-sm-12 { display: flex; justify-content: center; } #contact .social-icons {  margin-right: 0 } }

/* ----- Footer ------*/
#footer{ background: #000; color: #fff;}

.copyright{padding-top: 1rem; font-size: 15px; text-align: center}
.copyright a{text-decoration: none;color: #fff; }
.copyright a:hover{text-decoration: none;color: #1723b1;}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
      transform: translate3d(-90px, 0, 0);
  }
  100% {
      transform: translate3d(85px, 0, 0);
  }
}